
@mixin black-btn($py:0.4rem, $px:0.5rem) {
  background-color: $button-bg-black;
  color: $button-color;
  border-radius: 6px;
  padding: $py $px ;
  min-width: 100px;
  @include transition();
  &:hover {
    background-color: #404041ee;
  }
}