@mixin products-styles {
  // height: 100vh;
  width: 100%;
  background-color: #838fff;
  margin: 2rem 0rem;
  padding: 2rem;
  .main-box {
    position: absolute;
    background-color: #838fff;
    img {
      width: 100%;
      opacity: 0.5;
    }
  }
  @include xxl {
    @include lg-xl-xxl;
    @include transition;
  }
  @include xl {
    @include lg-xl-xxl;
    @include transition;
  }
  @include lg {
    @include lg-xl-xxl;
    @include transition;
  }
  @include md {
    @include md-sm-xsm;
    @include transition;
  }
}

@mixin lg-xl-xxl {
  .products-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(8, auto);
    gap: 1.5rem;
    .box-1 {
      grid-area: 1/1/4/5;
    }
    .box-2 {
      grid-area: 1/11/4/15;
    }
    .box-3 {
      grid-area: 5/1/8/5;
    }
    .box-4 {
      grid-area: 5/11/8/15;
    }
    .box-5 {
      grid-area: 1/6/8/10;
      @include align-box-center;
      img {
        width: 100%;
        border-radius: 2.5rem;
      }
    }
    .box-1,
    .box-2,
    .box-3,
    .box-4 {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: 0px 5px 14px rgba(8, 15, 52, 0.04);
      border-radius: 20px;
      padding: 1.5rem;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1.8rem;
        color: #514f6e;
      }
      .logo {
        width: 25%;
      }
      .user {
        display: flex;
        img {
          width: 18%;
          border-radius: 50%;
        }
        div {
          @include align-box-center($fd: column, $ai: start);
          gap: 0.5rem;
          margin-left: 1rem;
          h5 {
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            color: #170f49;
          }
          h6 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6f6c90;
          }
        }
      }
    }
  }
}

@mixin md-sm-xsm {
  .products-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(10, auto);
    gap: 1rem;
    .box-1 {
      grid-area: 1/1/3/7;
      @include sm {
        grid-area: 1/1/3/13;
      }
    }
    .box-2 {
      grid-area: 3/1/5/7;
      @include sm {
        grid-area: 3/1/5/13;
      }
    }
    .box-3 {
      grid-area: 5/1/7/7;
      @include sm {
        grid-area: 5/1/7/13;
      }
    }
    .box-4 {
      grid-area: 7/1/10/7;
      @include sm {
        grid-area: 7/1/10/13;
      }
    }
    .box-5 {
      grid-area: 1/8/9/12;
      @include align-box-center;
      img {
        @include sm {
          display: none;
        }
        width: 100%;
        border-radius: 2.5rem;
      }
    }
    .box-1,
    .box-2,
    .box-3,
    .box-4 {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: 0px 5px 14px rgba(8, 15, 52, 0.04);
      border-radius: 20px;
      padding: 1.5rem;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        @include sm {
          font-size: 1.5rem;
        }
        line-height: 1.8rem;
        color: #514f6e;
      }
      .logo {
        width: 25%;
      }
      .user {
        display: flex;
        img {
          width: 18%;
          @include sm {
            width: 25%;
          }
          border-radius: 50%;
        }
        div {
          @include align-box-center($fd: column, $ai: start);
          gap: 0.5rem;
          margin-left: 1rem;
          h5 {
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            color: #170f49;
          }
          h6 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6f6c90;
          }
        }
      }
    }
  }
}
