@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "components/buttons";

//navbar styles start
@import "components/navbar";
.navbar-container {
  @include navbar-styles;
  margin-bottom: 15%;
  @include xl {
    margin-bottom: 11%;
  }
  @include lg {
    margin-bottom: 12%;
  }
  @include md {
    margin-bottom: 17%;
  }
  @include sm {
    margin-bottom: 50%;
  }
  @include xsm {
    margin-bottom: 50%;
  }
}
//navbar styles end

// ------------------------------------- 

//landingPage styles start
@import "components/landingPage";
.landingPage-container {
  * {
    // border: 1px solid red;
  }
  @include align-box-center($jc: start, $ai: end);
  @include landingPage-styles;
}
//landingPage styles end

// ------------------------------------- 

// Res-Community style start
@import "components/resCommunity";
.rescommunity-container {
  @include rescommunity-styles;
}
// Res-Community style end

// ------------------------------------- 

// How it works style start
@import "components/howItWorks";
@import "components/imageSlider";
.how-it-works-container {
  @include howItWorks-styles;
}
// How it works style end

// ------------------------------------- 

// Products style start
@import "components/products";
.products-container {
  @include products-styles;
}
// Products style end

// ------------------------------------- 